.md-layer-8-16-0 {
z-index: 995 !important; text-align: center;
 font-size: 1.3333333333333em;
 font-family: "Tahoma";
 text-transform: uppercase;
}
.md-layer-8-16-1 {
z-index: 996 !important; color: #000000 !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-8-16-2 {
z-index: 997 !important; color: #000000 !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-8-16-3 {
z-index: 998 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
 text-transform: none;
}
.md-layer-8-16-4 {
z-index: 999 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
}
.md-layer-8-16-5 {
z-index: 994 !important;}
.md-layer-8-16-6 {
z-index: 1000 !important;}
.md-layer-8-26-0 {
z-index: 995 !important; text-align: center;
 font-size: 1.3333333333333em;
 font-family: "Tahoma";
 text-transform: uppercase;
}
.md-layer-8-26-1 {
z-index: 996 !important; color: #000000 !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-8-26-2 {
z-index: 997 !important; color: #000000 !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-8-26-3 {
z-index: 998 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
 text-transform: none;
}
.md-layer-8-26-4 {
z-index: 999 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
}
.md-layer-8-26-5 {
z-index: 994 !important;}
.md-layer-8-26-6 {
z-index: 1000 !important;}