.md-layer-6-11-0 {
z-index: 994 !important; color: #ffffff !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-6-11-1 {
z-index: 995 !important; color: #fdfdfd !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-6-11-2 {
z-index: 996 !important; color: #999999 !important;
 font-size: 1.1666666666667em;
 font-family: "Tahoma";
 text-transform: none;
}
.md-layer-6-11-3 {
z-index: 997 !important; color: #999999 !important;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Tahoma";
}
.md-layer-6-11-4 {
z-index: 998 !important;}
.md-layer-6-11-5 {
z-index: 999 !important; font-size: 1.8333333333333em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-6-11-6 {
z-index: 1000 !important; color: #ffffff !important;
 font-size: 1.8333333333333em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-6-30-0 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-6-30-1 {
z-index: 2 !important; color: #fdfdfd !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-6-30-2 {
z-index: 2 !important; color: #999999 !important;
 font-size: 1.1666666666667em;
 font-family: "Tahoma";
 text-transform: none;
}
.md-layer-6-30-3 {
z-index: 2 !important; color: #999999 !important;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Tahoma";
}
.md-layer-6-30-4 {
z-index: 2 !important;}
.md-layer-6-30-5 {
z-index: 2 !important; font-size: 1.8333333333333em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-6-30-6 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 1.8333333333333em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}