.md-layer-9-18-0 {
z-index: 994 !important; color: #a9a9a9 !important;
 text-align: center;
 font-size: 1.3333333333333em;
 font-weight: 400;
 font-family: "Tahoma";
 text-transform: uppercase;
}
.md-layer-9-18-1 {
z-index: 995 !important; color: #000000 !important;
 font-size: 3em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-9-18-2 {
z-index: 996 !important; color: #000000 !important;
 font-size: 3em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-9-18-3 {
z-index: 997 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
 text-transform: none;
}
.md-layer-9-18-4 {
z-index: 998 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
}
.md-layer-9-18-5 {
z-index: 993 !important;}
.md-layer-9-18-6 {
z-index: 999 !important; color: #99cc33 !important;
 font-size: 3em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-9-18-7 {
z-index: 1000 !important;}
.md-layer-9-27-0 {
z-index: 994 !important; color: #a9a9a9 !important;
 text-align: center;
 font-size: 1.3333333333333em;
 font-weight: 400;
 font-family: "Tahoma";
 text-transform: uppercase;
}
.md-layer-9-27-1 {
z-index: 995 !important; color: #000000 !important;
 font-size: 3em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-9-27-2 {
z-index: 996 !important; color: #000000 !important;
 font-size: 3em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-9-27-3 {
z-index: 997 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
 text-transform: none;
}
.md-layer-9-27-4 {
z-index: 998 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
}
.md-layer-9-27-5 {
z-index: 993 !important;}
.md-layer-9-27-6 {
z-index: 999 !important; color: #99cc33 !important;
 font-size: 3em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-9-27-7 {
z-index: 1000 !important;}