.md-layer-10-21-0 {
z-index: 995 !important;}
.md-layer-10-21-1 {
z-index: 996 !important; color: #f2f2f2 !important;
 font-size: 1.3333333333333em;
 font-weight: 400;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-10-21-2 {
z-index: 997 !important; color: #ffffff !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-10-21-3 {
z-index: 998 !important; color: #ffffff !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-10-21-4 {
z-index: 999 !important; color: #ffffff !important;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Tahoma";
}
.md-layer-10-21-5 {
z-index: 1000 !important; color: #ffffff !important;
 font-size: 1.1666666666667em;
 font-family: "Tahoma";
}
.md-layer-10-28-0 {
z-index: 2 !important;}
.md-layer-10-28-1 {
z-index: 2 !important; color: #f2f2f2 !important;
 font-size: 1.3333333333333em;
 font-weight: 400;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-10-28-2 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-10-28-3 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-10-28-4 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Tahoma";
}
.md-layer-10-28-5 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 1.1666666666667em;
 font-family: "Tahoma";
}