.md-layer-5-9-0 {
z-index: 994 !important;}
.md-layer-5-9-1 {
z-index: 995 !important; color: #66cccc !important;
 text-align: center;
 font-size: 1.3333333333333em;
 font-weight: 400;
 font-family: "Tahoma";
 text-transform: uppercase;
}
.md-layer-5-9-2 {
z-index: 996 !important; color: #000000 !important;
 font-size: 4em;
 font-weight: 400;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-5-9-3 {
z-index: 997 !important; color: #000000 !important;
 font-size: 4em;
 font-weight: 400;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-5-9-4 {
z-index: 998 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
 text-transform: none;
}
.md-layer-5-9-5 {
z-index: 999 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
}
.md-layer-5-9-6 {
z-index: 1000 !important; padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
 padding-left: 10px;
}
.md-layer-5-10-0 {
z-index: 995 !important; color: #66cccc !important;
 text-align: center;
 font-size: 1.3333333333333em;
 font-family: "Tahoma";
 text-transform: uppercase;
}
.md-layer-5-10-1 {
z-index: 996 !important; color: #000000 !important;
 font-size: 4em;
 font-weight: 400;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-5-10-2 {
z-index: 997 !important; color: #000000 !important;
 font-size: 4em;
 font-weight: 400;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-5-10-3 {
z-index: 998 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
 text-transform: none;
}
.md-layer-5-10-4 {
z-index: 999 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
}
.md-layer-5-10-5 {
z-index: 994 !important;}
.md-layer-5-10-6 {
z-index: 1000 !important; padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
 padding-left: 10px;
}