.md-layer-11-31-0 {
z-index: 997 !important; color: #f2f2f2 !important;
 font-size: 1.3333333333333em;
 font-weight: 400;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-11-31-1 {
z-index: 998 !important; color: #ffffff !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-11-31-2 {
z-index: 999 !important; color: #c3c3c3 !important;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Tahoma";
}
.md-layer-11-31-3 {
z-index: 1000 !important; color: #c3c3c3 !important;
 font-size: 1.1666666666667em;
 font-family: "Tahoma";
}
.md-layer-11-31-4 {
z-index: 996 !important;}
.md-layer-11-31-5 {
z-index: 995 !important;}
.md-layer-11-34-0 {
z-index: 2 !important; color: #f2f2f2 !important;
 font-size: 1.3333333333333em;
 font-weight: 400;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-11-34-1 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-11-34-2 {
z-index: 2 !important; color: #c3c3c3 !important;
 font-size: 1.1666666666667em;
 font-weight: 400;
 font-family: "Tahoma";
}
.md-layer-11-34-3 {
z-index: 2 !important; color: #c3c3c3 !important;
 font-size: 1.1666666666667em;
 font-family: "Tahoma";
}
.md-layer-11-34-4 {
z-index: 2 !important;}
.md-layer-11-34-5 {
z-index: 2 !important;}