.md-layer-3-5-0 {
z-index: 994 !important;}
.md-layer-3-5-1 {
z-index: 995 !important; text-align: center;
 font-size: 1.3333333333333em;
 font-weight: 400;
 font-family: "Tahoma";
 text-transform: uppercase;
}
.md-layer-3-5-2 {
z-index: 996 !important; color: #000000 !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-3-5-3 {
z-index: 997 !important; color: #000000 !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-3-5-4 {
z-index: 998 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
 text-transform: none;
}
.md-layer-3-5-5 {
z-index: 999 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
}
.md-layer-3-5-6 {
z-index: 1000 !important;}
.md-layer-3-6-0 {
z-index: 995 !important; text-align: center;
 font-size: 1.3333333333333em;
 font-family: "Tahoma";
 text-transform: uppercase;
}
.md-layer-3-6-1 {
z-index: 996 !important; color: #000000 !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-3-6-2 {
z-index: 997 !important; color: #000000 !important;
 font-size: 4em;
 font-weight: 700;
 font-family: "Oswald";
 text-transform: uppercase;
}
.md-layer-3-6-3 {
z-index: 998 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
 text-transform: none;
}
.md-layer-3-6-4 {
z-index: 999 !important; font-size: 1.1666666666667em;
 font-family: "Verdana";
}
.md-layer-3-6-5 {
z-index: 994 !important;}
.md-layer-3-6-6 {
z-index: 1000 !important;}