<nav{{ attributes.addClass('epros-main-menu-categories') }}>                                                        
    <div class="navbar-collapse no-padding">
    	{{ title_suffix }}
	      {% if content %}
	        {{ content }}
	      {% endif %}
    </div>    

</nav>