<nav{{ attributes.addClass('epros-main-menu') }}>                                                        
    <div class="navbar-collapse no-padding" id="primary-navigation">
    	{{ title_suffix }}
	      {% if content %}
	        {{ content }}
	      {% endif %}
    </div>    

</nav>