{% set classes = ['newsletter-wrap', 'epros-simplenewssubs-menu'] %}
<div{{ attributes.addClass(classes) }}>
    {% if label %}
        <h2 class="title-2">{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% if content %}
        {{ content }}
    {% endif %}
</div>