<footer id="epros-footer-3" class="footer text-center">             
    <section class="space-50 footer-bg white-color">
        {{ page.footer_social_bar }}
    </section>
    {% if copyright_text %}
    <section class="black-bg  space-bottom-70">
        {{ copyright_text|t }}
    </section>
    {% endif %}
</footer>